<% content_for :head do -%>
  <meta name="title" content="<%= Spree.t(:contact_us_title) %>">
<% end -%>

<div class="row">
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @contact } %>
</div>

<div class="col-md-6 col-md-offset-3 registration-container card">
  <h3 class="registration-title"><%= Spree.t(:contact_us_title) %></h3>
  <%= form_for @contact, :url => contacts_path, :html => { :novalidate => '' } do |f| %>
    <% if SpreeContactUs.require_name %>
      <div class="form-group">
      <%= f.text_field :name, class: 'required form-control', placeholder: 'Name' %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.email_field :email, class: 'required form-control email', placeholder: 'Email' %>
    </div>
    <% if SpreeContactUs.require_subject %>
      <div class="form-group">
        <%= f.text_field :subject, class: 'required form-control', placeholder: 'Subject' %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.text_area :message, class: 'required form-control', placeholder: 'Message' %>
    </div>
    <%= f.submit Spree.t(:submit), :alt => Spree.t(:submit), :id => 'contact_us_contact_submit', :title => Spree.t(:submit), :class => 'btn btn-lg' %>

  <% end %>
</div>